.canvas {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: auto;
}

.column {
  float: left;
}
.column:before,
.column:after {
  content:"";
  display: table ;
  clear:both;
}

.squares {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  position: relative;
  float: left;
}

.color {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  float: left;
  border-radius: 50%;
}


.palette {
  /*needs to be a row of colors*/
  width: auto;
  height: auto;
  margin-left: 450px;
}

.paintbrush {
  background-color: #f2f2f2;
  border-style: dashed;
  border-color: black;
  border-width: 2px;
  float: left;
  margin: 20px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.orangeBox {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: pink;
}
.brown {
  background-color: brown;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
  border-color: black;
  border-width: .5px;
  border-style:solid;
}
.grey {
  background-color: grey;
}
